<div class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Lado izquierdo -->
      <div class="navbar-nav me-auto">
        <a class="nav-link color-acento-verde" href="index.html">Inicio</a>
        <a class="nav-link color-acento-verde" href="productos.html">Productos</a>
        <a class="nav-link color-acento-verde" href="resenas.html">Reseñas</a>
        <a class="nav-link color-acento-verde" href="comunidad.html">Comunidad</a>
      </div>

      <!-- Lado derecho -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link color-acento-verde carrito-contador" href="carrito.html">
          🛒 Carrito
          <span id="carritoContador" class="carrito-badge" style="display: none;">0</span>
        </a>
        <a class="nav-link color-acento-verde" href="registro.html">Registro</a>
        <a class="nav-link color-acento-verde" href="perfil.html">Perfil</a>
      </div>

      </div>
    </div>
  </div>
</div>