/* Roboto Variable - Normal */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
}

/* Roboto Variable - Italic */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
}

/* Orbitron Variable */
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 900;
    font-style: normal;
}

.texto-principal {
    font-family: 'Orbitron', sans-serif;
}

.color-acento-azul {
    color: #1E90FF;
}

.color-acento-verde {
    color: #39FF14;
}

body {
    background-color: #020710;
    font-family: 'Roboto';
    color: #D3D3D3;
}

.fondo-catalogo {
    background-image: url("../img/fondo-productos-gamers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.fondo-texto-catalogo {
    background-color: rgba(0, 0, 0, 0.677);
}

/*Ojo que estoy sobreescribiendo una clase de bootstrap*/
.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: center;
}
